<h1 style="color:#2583d7;">Editing employee</h1>

<%= render 'form' %>

<%= link_to 'Show', [@employee.consultation, @employee] %> |
<%= link_to 'Back', consultation_employees_path(@employee.consultation) %>
